@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/OpenSans-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../../fonts/OpenSans-Semibold.ttf) format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/OpenSans-Bold.ttf) format("truetype"); }
body {
  font-family: "Open Sans",Tahoma,Helvetica,Arial,sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0; }

ul, li {
  list-style: none;
  padding: 0; }

.clearFix {
  clear: both; }

#header-wrap {
  box-shadow: 0px 0px 5px lightgray; }
  #header-wrap .line {
    border: 2px solid #994399; }
  #header-wrap .logo {
    width: 120px;
    height: 48px;
    float: left; }
  #header-wrap .browse {
    width: 111px;
    height: 48px;
    float: left;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    padding: 14px 25px;
    position: relative; }
    #header-wrap .browse span {
      font-size: 13px;
      font-weight: bold;
      color: #8e8e8e; }
    #header-wrap .browse ul {
      width: 241px;
      min-height: 450px;
      position: absolute;
      top: 49px;
      left: 0;
      border: 1px solid red; }
      #header-wrap .browse ul li a {
        display: block;
        padding: 6px 8px;
        font-size: 13px;
        text-decoration: none;
        color: #353535; }
        #header-wrap .browse ul li a:hover {
          background-color: #F4F4F4; }
        #header-wrap .browse ul li a i {
          margin-top: 3px; }
      #header-wrap .browse ul li ul {
        position: absolute;
        top: -1px;
        left: 240px; }
  #header-wrap .search {
    position: relative;
    float: left;
    width: calc(100% - 521px); }
    #header-wrap .search input[type="text"] {
      width: 100%;
      height: 48px;
      border: none;
      padding: 5px 52px;
      background-color: #F4F4F4; }
    #header-wrap .search button {
      width: 37px;
      height: 37px;
      border: none;
      background-color: #994399;
      border-radius: 2px;
      position: absolute;
      top: 5px;
      left: 8px; }
      #header-wrap .search button i {
        color: white; }
  #header-wrap .right-panel {
    float: right; }
  #header-wrap .myCourses {
    width: 110px;
    height: 48px;
    float: left;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece; }
    #header-wrap .myCourses a {
      display: block;
      padding: 14px 16px;
      font-size: 13px;
      font-weight: bold;
      color: #8e8e8e;
      text-decoration: none; }
  #header-wrap .shopping, #header-wrap .bell {
    width: 60px;
    height: 48px;
    float: left;
    border-right: 1px solid #cecece; }
    #header-wrap .shopping a, #header-wrap .bell a {
      text-decoration: none; }
      #header-wrap .shopping a i, #header-wrap .bell a i {
        display: block;
        padding: 14px 16px;
        font-size: 22px;
        font-weight: bold;
        color: #8e8e8e; }
  #header-wrap .smile {
    width: 60px;
    height: 48px;
    padding: 3px 8px;
    float: left; }
    #header-wrap .smile img {
      width: 100%;
      height: 100%; }

#header {
  height: 48px;
  background-color: white;
  border-top: 4px solid #994399; }

#categories-wrap {
  font-size: 13px;
  background-color: #F4F4F4;
  /* .category_header */ }
  #categories-wrap .category-header {
    background-color: #994399;
    width: 100%;
    font-size: 15px; }
    #categories-wrap .category-header .path {
      margin-top: 20px; }
      #categories-wrap .category-header .path a {
        color: white;
        font-weight: 500;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        #categories-wrap .category-header .path a:hover {
          text-decoration: none;
          color: #ddb1dd; }
      #categories-wrap .category-header .path span {
        color: white; }
    #categories-wrap .category-header h1.header-title {
      color: white;
      margin: 0;
      margin-top: 22px;
      font-size: 30px;
      font-weight: 500; }
    #categories-wrap .category-header .nav-tabs {
      padding: 0;
      margin-top: 10px;
      border-bottom: none; }
      #categories-wrap .category-header .nav-tabs li {
        float: left;
        margin-bottom: 0px;
        padding: 0 28px 0 0; }
        #categories-wrap .category-header .nav-tabs li a {
          margin-right: 0;
          padding: 0;
          line-height: 2;
          border: 0;
          color: #ddb1dd;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          -webkit-transition: color 0.3s ease;
          -moz-transition: color 0.3s ease;
          -o-transition: color 0.3s ease;
          transition: color 0.3s ease; }
        #categories-wrap .category-header .nav-tabs li a:hover {
          border-color: none;
          background-color: transparent;
          color: white; }
        #categories-wrap .category-header .nav-tabs li.active > a, #categories-wrap .category-header .nav-tabs li.active > a:hover, #categories-wrap .category-header .nav-tabs li.active > a:focus {
          color: white;
          cursor: pointer;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #d5a0d5; }
  #categories-wrap .tab-content {
    /* sidebar -btn*/
    /* feaured */
    /* allCourses */ }
    #categories-wrap .tab-content .sidebar {
      width: 230px;
      padding-top: 30px;
      float: left;
      /* sorting */
      /*  sidebar-nav*/
      /* sidebar-nav-min  sorting-min*/ }
      #categories-wrap .tab-content .sidebar .sorting {
        margin-right: 10px;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 10px;
        padding-bottom: 10px; }
        #categories-wrap .tab-content .sidebar .sorting form {
          margin-bottom: 10px; }
        #categories-wrap .tab-content .sidebar .sorting ul li span {
          display: inline-block;
          height: 25px;
          position: relative; }
        #categories-wrap .tab-content .sidebar .sorting ul li .checkbox {
          width: 25px;
          height: 25px;
          position: relative;
          display: inline-block;
          margin: 3px 0; }
          #categories-wrap .tab-content .sidebar .sorting ul li .checkbox label {
            width: 23px;
            height: 23px;
            border: 1px solid lightgrey;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: white; }
          #categories-wrap .tab-content .sidebar .sorting ul li .checkbox label:before {
            content: "";
            width: 11px;
            height: 7px;
            border: 3px solid white;
            position: absolute;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 6px;
            left: 5px;
            opacity: 0; }
          #categories-wrap .tab-content .sidebar .sorting ul li .checkbox input[type="checkbox"] {
            position: relative;
            bottom: 0px;
            left: 3px;
            opacity: 0;
            z-index: 5;
            margin: 0;
            padding: 0;
            cursor: pointer;
            -webkit-transform: scale(1.6);
            -moz-transform: scale(1.6);
            -ms-transform: scale(1.6);
            -o-transform: scale(1.6);
            transform: scale(1.6); }
            #categories-wrap .tab-content .sidebar .sorting ul li .checkbox input[type="checkbox"]:checked + label:before {
              opacity: 1; }
            #categories-wrap .tab-content .sidebar .sorting ul li .checkbox input[type="checkbox"]:checked + label {
              background-color: #994399; }
        #categories-wrap .tab-content .sidebar .sorting .closed {
          display: none; }
        #categories-wrap .tab-content .sidebar .sorting .btn-close {
          display: none; }
        #categories-wrap .tab-content .sidebar .sorting h3 {
          display: none;
          font-size: 12px;
          font-weight: 700;
          line-height: 3; }
      #categories-wrap .tab-content .sidebar .sidebar-nav {
        width: 100%;
        position: relative; }
        #categories-wrap .tab-content .sidebar .sidebar-nav h3 {
          font-size: 12px;
          font-weight: 700;
          line-height: 3; }
        #categories-wrap .tab-content .sidebar .sidebar-nav ul li {
          clear: both;
          padding: 3.5px 0; }
          #categories-wrap .tab-content .sidebar .sidebar-nav ul li a {
            font-weight: 600;
            color: #ab4bab;
            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.1s ease;
            -o-transition: all 0.1s ease;
            transition: all 0.1s ease; }
            #categories-wrap .tab-content .sidebar .sidebar-nav ul li a i {
              display: block;
              font-size: 18px;
              height: 30px;
              margin-top: 2px;
              float: left; }
            #categories-wrap .tab-content .sidebar .sidebar-nav ul li a:hover {
              text-decoration: none;
              color: #642c64; }
        #categories-wrap .tab-content .sidebar .sidebar-nav .closed {
          display: none; }
      #categories-wrap .tab-content .sidebar .sorting-min, #categories-wrap .tab-content .sidebar .sidebar-nav-min {
        display: block !important;
        position: absolute;
        margin: 0 auto;
        background-color: white;
        width: 300px;
        padding-bottom: 20px;
        left: 25%;
        top: -100px;
        -moz-box-shadow: 0 0 5px white;
        -webkit-box-shadow: 0 0 5px white;
        box-shadow: 0 0 5px white;
        z-index: 9999; }
        #categories-wrap .tab-content .sidebar .sorting-min .closed, #categories-wrap .tab-content .sidebar .sidebar-nav-min .closed {
          display: block; }
        #categories-wrap .tab-content .sidebar .sorting-min h3, #categories-wrap .tab-content .sidebar .sidebar-nav-min h3 {
          height: 70px;
          background-color: #F4F4F4;
          padding-left: 25px;
          border-bottom: 2px solid #c1c1c1;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 10px;
          display: block; }
        #categories-wrap .tab-content .sidebar .sorting-min ul, #categories-wrap .tab-content .sidebar .sidebar-nav-min ul {
          padding-left: 25px; }
        #categories-wrap .tab-content .sidebar .sorting-min form, #categories-wrap .tab-content .sidebar .sidebar-nav-min form {
          padding-left: 25px; }
          #categories-wrap .tab-content .sidebar .sorting-min form ul, #categories-wrap .tab-content .sidebar .sidebar-nav-min form ul {
            padding-left: 0; }
        #categories-wrap .tab-content .sidebar .sorting-min .closed, #categories-wrap .tab-content .sidebar .sidebar-nav-min .closed {
          background-color: transparent;
          color: #5b5b5b;
          position: absolute;
          right: -18px;
          top: -13px;
          display: block; }
          #categories-wrap .tab-content .sidebar .sorting-min .closed i, #categories-wrap .tab-content .sidebar .sidebar-nav-min .closed i {
            font-size: 22px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            background-color: #F4F4F4;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
          #categories-wrap .tab-content .sidebar .sorting-min .closed i:hover, #categories-wrap .tab-content .sidebar .sidebar-nav-min .closed i:hover {
            -moz-box-shadow: 0 0 7px white;
            -webkit-box-shadow: 0 0 7px white;
            box-shadow: 0 0 7px white;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1); }
          #categories-wrap .tab-content .sidebar .sorting-min .closed:focus, #categories-wrap .tab-content .sidebar .sorting-min .closed:active, #categories-wrap .tab-content .sidebar .sidebar-nav-min .closed:focus, #categories-wrap .tab-content .sidebar .sidebar-nav-min .closed:active {
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0px; }
        #categories-wrap .tab-content .sidebar .sorting-min .btn-close, #categories-wrap .tab-content .sidebar .sidebar-nav-min .btn-close {
          width: 90%;
          margin: 15px auto;
          color: white;
          background-color: #994399;
          display: block;
          font-size: 15px;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
          #categories-wrap .tab-content .sidebar .sorting-min .btn-close:hover, #categories-wrap .tab-content .sidebar .sidebar-nav-min .btn-close:hover {
            background-color: #763376; }
    #categories-wrap .tab-content .sidebar-btn {
      margin-bottom: 25px;
      display: none; }
      #categories-wrap .tab-content .sidebar-btn button {
        border: 1px solid #994399;
        background-color: white;
        padding: 7px; }
    #categories-wrap .tab-content #featured .content {
      width: calc(100% - 230px);
      padding-top: 30px;
      margin-bottom: 30px;
      float: left; }
      #categories-wrap .tab-content #featured .content .main-row {
        /* panel-box*/ }
        #categories-wrap .tab-content #featured .content .main-row h2 {
          font-size: 20px; }
        #categories-wrap .tab-content #featured .content .main-row a.main-panel-box {
          display: block;
          width: 100%;
          overflow: hidden;
          margin: 10px 0 40px 0;
          color: #353535;
          height: 270px;
          /*box-info*/ }
          #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-img {
            width: 53%;
            overflow: hidden;
            float: left;
            height: 100%; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-img img {
              width: 100%; }
          #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info {
            float: left;
            width: 47%;
            padding: 10px;
            height: 100%;
            background-color: white; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info h6 {
              font-weight: 700;
              font-size: 17px;
              margin-bottom: 12px;
              line-height: 1.3; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info > span {
              display: block;
              font-size: 13px;
              line-height: 22px; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info .auther {
              font-size: 15px;
              line-height: 25px; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info .rank {
              margin: 8px 0 12px 0;
              height: 18px; }
              #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info .rank .star
              i {
                letter-spacing: 4px;
                color: #994399;
                font-size: 14px; }
              #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info .rank .review_count {
                font-size: 15px; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info .course-price {
              font-size: 14px;
              height: 20px; }
              #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info .course-price s {
                margin-left: 20px;
                color: #686868; }
          #categories-wrap .tab-content #featured .content .main-row a.main-panel-box:hover, #categories-wrap .tab-content #featured .content .main-row a.main-panel-box:active, #categories-wrap .tab-content #featured .content .main-row a.main-panel-box:focus {
            text-decoration: none; }
        @media only screen and (min-width: 768px) and (max-width: 1200px) {
          #categories-wrap .tab-content #featured .content .main-row a.main-panel-box {
            padding-right: 30px; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-img {
              width: 40%; }
              #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-img img {
                height: 100%;
                width: auto;
                margin-left: -40%; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info {
              width: 60%; } }
        @media only screen and (max-width: 768px) {
          #categories-wrap .tab-content #featured .content .main-row a.main-panel-box {
            height: auto;
            max-width: 470px; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-img {
              width: 100%;
              float: none; }
            #categories-wrap .tab-content #featured .content .main-row a.main-panel-box .box-info {
              width: 100%;
              float: none; } }
      #categories-wrap .tab-content #featured .content .sub-row {
        clear: both;
        /* sub-panel*/
        /*sub-icon*/ }
        #categories-wrap .tab-content #featured .content .sub-row h2 {
          font-size: 20px; }
        #categories-wrap .tab-content #featured .content .sub-row .sub-panel {
          margin: 0 0 40px 0;
          height: 300px;
          overflow: hidden;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          /* panel-box*/ }
          #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box {
            display: block;
            width: 216px;
            float: left;
            margin-right: 15px;
            margin-top: 10px;
            -moz-box-shadow: 0 2px 3px #a6a6a6;
            -webkit-box-shadow: 0 2px 3px #a6a6a6;
            box-shadow: 0 2px 3px #a6a6a6;
            background-color: white;
            color: #353535;
            /*box-img */
            /*box-info*/ }
            #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box:last-child {
              margin-right: 0; }
            #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-img {
              height: 121.5px;
              width: 100%;
              overflow: hidden;
              position: relative; }
              #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-img > img {
                width: 100%; }
              #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-img .img-info {
                padding: 15px 10px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                opacity: 0; }
                #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-img .img-info img {
                  border: 3px solid white;
                  -webkit-border-radius: 2px;
                  -moz-border-radius: 2px;
                  border-radius: 2px;
                  display: inline-block;
                  width: 50px;
                  height: 50px;
                  margin-bottom: 5px; }
                #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-img .img-info span {
                  display: block;
                  color: white;
                  font-weight: 600; }
            #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info {
              padding: 10px; }
              #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info h6 {
                font-weight: 700;
                font-size: 13px;
                height: 34px;
                margin-bottom: 12px;
                line-height: 1.3; }
              #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .auther {
                height: 34px;
                margin-bottom: 14px; }
              #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .rank {
                margin-bottom: 12px;
                height: 18px; }
                #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .rank .star
                i {
                  letter-spacing: 4px;
                  color: #994399;
                  font-size: 14px; }
                #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .rank .review_degree {
                  font-weight: 600; }
                #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .rank .review_count {
                  font-weight: 600;
                  color: #9b9b9b; }
              #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .course-price {
                font-size: 14px;
                height: 20px; }
                #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .course-price s {
                  margin-left: 20px;
                  color: #686868; }
            #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box:hover {
              text-decoration: none;
              -moz-box-shadow: 0 2px 5px gray;
              -webkit-box-shadow: 0 2px 5px gray;
              box-shadow: 0 2px 5px gray; }
              #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box:hover .img-info {
                opacity: 1; }
            #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box:active, #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-boxfocus {
              text-decoration: none; }
        #categories-wrap .tab-content #featured .content .sub-row .sub-icon {
          margin-bottom: 40px; }
          #categories-wrap .tab-content #featured .content .sub-row .sub-icon ul {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap; }
            #categories-wrap .tab-content #featured .content .sub-row .sub-icon ul li {
              width: 110px;
              margin-top: 10px; }
              #categories-wrap .tab-content #featured .content .sub-row .sub-icon ul li a {
                color: #994399;
                text-decoration: none; }
                #categories-wrap .tab-content #featured .content .sub-row .sub-icon ul li a i {
                  display: block;
                  text-align: center;
                  font-size: 36px;
                  margin: 20px 0 10px 0; }
                #categories-wrap .tab-content #featured .content .sub-row .sub-icon ul li a span {
                  display: block;
                  font-size: 15px;
                  text-align: center; }
                #categories-wrap .tab-content #featured .content .sub-row .sub-icon ul li a:hover, #categories-wrap .tab-content #featured .content .sub-row .sub-icon ul li a:focus {
                  color: #522452; }
    #categories-wrap .tab-content #allCourses {
      /*content*/ }
      #categories-wrap .tab-content #allCourses .content {
        background-color: white;
        width: calc(100% - 230px);
        padding: 20px 15px;
        float: left;
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        /*sidebar-btn-forcourse */
        /* main-row */
        /*sub-row*/
        /* pagination-block*/ }
        #categories-wrap .tab-content #allCourses .content .sidebar-btn-forcourse {
          margin-bottom: 25px;
          display: none; }
          #categories-wrap .tab-content #allCourses .content .sidebar-btn-forcourse button {
            border: 1px solid #994399;
            background-color: white;
            padding: 7px;
            width: 47%;
            display: inline-block;
            overflow: hidden; }
            #categories-wrap .tab-content #allCourses .content .sidebar-btn-forcourse button:first-child {
              margin-right: 4.5%; }
        #categories-wrap .tab-content #allCourses .content .main-row {
          margin: 15px 0 20px 0; }
          #categories-wrap .tab-content #allCourses .content .main-row label {
            font-size: 15px;
            font-weight: 400;
            display: inline-block; }
          #categories-wrap .tab-content #allCourses .content .main-row .dropdown {
            display: inline-block; }
            #categories-wrap .tab-content #allCourses .content .main-row .dropdown .btn {
              font-size: 15px;
              padding: 10px 14px; }
            #categories-wrap .tab-content #allCourses .content .main-row .dropdown .dropdown-menu {
              left: 0; }
              #categories-wrap .tab-content #allCourses .content .main-row .dropdown .dropdown-menu li {
                font-size: 15px; }
                #categories-wrap .tab-content #allCourses .content .main-row .dropdown .dropdown-menu li a {
                  color: #353535;
                  line-height: 24px;
                  text-decoration: none;
                  -webkit-transition: all 0.2s ease;
                  -moz-transition: all 0.2s ease;
                  -o-transition: all 0.2s ease;
                  transition: all 0.2s ease; }
                  #categories-wrap .tab-content #allCourses .content .main-row .dropdown .dropdown-menu li a:hover, #categories-wrap .tab-content #allCourses .content .main-row .dropdown .dropdown-menu li a:focus, #categories-wrap .tab-content #allCourses .content .main-row .dropdown .dropdown-menu li a:active {
                    text-decoration: none;
                    background-color: #F4F4F4; }
        #categories-wrap .tab-content #allCourses .content .sub-row {
          /* panel-box*/ }
          #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box {
            width: 100%;
            color: #353535;
            clear: both;
            display: block;
            border-top: 1px solid #e0e0e0;
            overflow: hidden;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            /*box-img */
            /*box-info*/ }
            #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-img {
              height: 70px;
              width: 125px;
              float: left;
              margin: 13px 0 13px 0;
              overflow: hidden; }
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-img > img {
                width: 100%; }
            #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info {
              padding: 15px;
              float: left;
              width: calc(100% - 125px); }
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info h6 {
                font-weight: 700;
                font-size: 14px;
                line-height: 1.4; }
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul {
                margin: 10px 0 5px 0; }
                #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul li:before {
                  content: "• "; }
                #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul li:first-child:before {
                  content: " "; }
                #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul .star i {
                  letter-spacing: 4px;
                  color: #994399;
                  font-size: 14px; }
                #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul s {
                  color: #686868;
                  margin-left: 5px; }
            #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box:hover {
              background-color: #F4F4F4; }
            @media screen and (max-width: 1200px) {
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul li:nth-child(3) {
                display: none; } }
            @media screen and (max-width: 768px) {
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info {
                padding: 10px; }
                #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul .star i {
                  font-size: 11px; }
                #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul li {
                  padding: 0; } }
            @media screen and (max-width: 500px) {
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-img {
                width: 100px;
                height: 100px; }
                #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-img img {
                  height: 100%;
                  width: auto;
                  margin-left: -40px; }
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info h6 + span {
                display: none; }
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul .star i {
                font-size: 11px; }
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul li {
                display: block; }
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul li:before {
                content: " "; }
              #categories-wrap .tab-content #allCourses .content .sub-row a.panel-box .box-info ul li:last-child {
                display: none; } }
        #categories-wrap .tab-content #allCourses .content .pagination-block {
          text-align: center;
          margin: 20px 0; }
          #categories-wrap .tab-content #allCourses .content .pagination-block ul li a {
            color: #994399;
            font-size: 16px;
            padding: 0 5px;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
            #categories-wrap .tab-content #allCourses .content .pagination-block ul li a:hover, #categories-wrap .tab-content #allCourses .content .pagination-block ul li a:focus, #categories-wrap .tab-content #allCourses .content .pagination-block ul li a:active {
              color: #522452;
              text-decoration: none; }
          #categories-wrap .tab-content #allCourses .content .pagination-block ul li:first-child a, #categories-wrap .tab-content #allCourses .content .pagination-block ul li:last-child a {
            font-size: 22px; }
    @media screen and (max-width: 500px) {
      #categories-wrap .tab-content #allCourses .content {
        padding: 20px 0; }
        #categories-wrap .tab-content #allCourses .content .sidebar-btn-forcourse {
          display: block; }
      #categories-wrap .tab-content .sorting {
        display: none; } }

@media only screen and (max-width: 990px) {
  #categories-wrap .tab-content .sidebar {
    float: none;
    width: 100%; }
    #categories-wrap .tab-content .sidebar .sidebar-nav {
      display: none; }
  #categories-wrap .tab-content #featured .content, #categories-wrap .tab-content #allCourses .content {
    width: 100%;
    float: none;
    padding-top: 20px;
    border: 0;
    background-color: transparent; }
    #categories-wrap .tab-content #featured .content .sidebar-btn, #categories-wrap .tab-content #allCourses .content .sidebar-btn {
      display: block; }
  #categories-wrap .tab-content .sorting {
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; }
    #categories-wrap .tab-content .sorting form {
      margin-bottom: 0 !important; }
    #categories-wrap .tab-content .sorting form {
      padding: 0;
      margin: 0; }
    #categories-wrap .tab-content .sorting ul li {
      display: inline-block;
      margin-right: 20px; } }
@media only screen and (max-width: 768px) {
  #categories-wrap .tab-content .sidebar .sidebar-nav, #categories-wrap .tab-content .sidebar .sorting {
    left: 10%; }
  #categories-wrap .tab-content #featured .content .main-row .main-panel {
    display: block; }
  #categories-wrap .tab-content #featured .content .sub-row .sub-panel {
    height: auto;
    /* panel-box*/ }
    #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box {
      float: none;
      width: 100%;
      margin-top: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
      color: #353535;
      clear: both;
      border-bottom: 1px solid #e0e0e0;
      height: 115px;
      overflow: hidden;
      /*box-img */
      /*box-info*/ }
      #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-img {
        height: 90px;
        width: 90px;
        float: left;
        margin: 13px 0 10px 0; }
        #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-img > img {
          height: 100%;
          width: auto;
          left: -33px;
          position: relative; }
        #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-img .img-info img {
          display: none; }
        #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-img .img-info span {
          display: none; }
      #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info {
        padding: 10px;
        float: left;
        width: calc(100% - 90px); }
        #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info h6 {
          margin-bottom: 4px;
          line-height: 1.2;
          overflow: hidden; }
        #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .auther {
          display: none; }
        #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .rank {
          margin-bottom: 10px; }
          #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .rank .star i {
            font-size: 12px; }
        #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box .box-info .course-price s {
          margin-left: 10px; }
      #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box:hover {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
        #categories-wrap .tab-content #featured .content .sub-row .sub-panel a.panel-box:hover .img-info {
          opacity: 1; } }
#pop-up.active {
  position: absolute;
  width: 100%;
  height: 1000%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0; }

/*# sourceMappingURL=style.css.map */
